/**
 * The public (front end) style sheet
 *
 * @link              https://graybirch.solutions
 * @since             1.0.0
 *
 * @package           amc-actdb-shortcode
 *
 */

.amc-events-container {
  margin: 25px auto;
}

 .amc-events-container a:link {
 }

 .amc-events-container a:hover {
 }


.amc-event-wrap {
  display: block;
  margin-bottom: 15px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.7), 3px 3px 5px rgba(183, 180, 180, 0.5);
  position: relative;
}

.amc-date-block {
  float: left;
  clear: both;
}

.amc-date-block {
  background-color:transparent !important;
  font-size:30px;
  padding:0px 8px 2px 13px;
  font-weight:bold;
  text-align: center;
  position:relative;
  line-height:110%;
  min-height:30px;
  margin:0 6px 0 0;
  left: 0;
}

.amc-date-block span {
  line-height: 100%;
}

.amc-start-date span {
  font-style: normal;
  text-transform: uppercase;
  line-height: 110%;
  vertical-align: baseline;
}

.amc-date-block span.month {
  font-size: 16px;
  font-weight: normal;
  display: block;
  vertical-align: baseline;
}

.amc-date-block span.year {
  display: none;
}

.amc-event-desc-block {
  margin-left:5px;
  padding:3px 15px 0 60px;
  margin-bottom:0px; top: 0;
  display: block;
}

.amc-event-desc-block span {
  display: block;
}

.amc-event-desc {
  line-height: 1.2em;
}

.amc-event-desc span {
  display: inline-block;
}

.amc-event-desc .key {
  font-weight: bold;
}

.amc-event-title {
  line-height: 1em;
  padding-bottom: 0.3em;
  text-transform: uppercase;
  font-size: 22px;
}

.amc-status-canceled {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

.amc-status-open {
  color: green;
  font-weight: bold;
}

.amc-status-waitlist {
  color: #c3a606;
  font-weight: bold;
}

.amc-event-date,
.amc-event-type,
.amc-event-leader,
.amc-event-location,
.amc-event-status {
  font-size: 13px;
  padding-right: 10px;
}

.amc-event-date {
  font-weight: bold;
}


.amc-event-date::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f073";
  padding-right: 5px;
}

.amc-event-type::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f554";
  padding-right: 5px;
}

.amc-event-leader::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f2bb";
  padding-right: 5px;
}

.amc-event-location::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f5a0";
  padding-right: 5px;
}

.amc-event-status::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f05a";
  padding-right: 5px;
}
